<% provide(:title, @quiz.name) %>
<h1><%= @quiz.name%></h1>



<%i=0%>
<% quesid = 0%>

	<input name="utf8" type="hidden" value="&#x2713;" />
	<input name="authenticity_token" type="hidden"
	value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" />
	<ul class="users">
		<% @questions.each do |question| %>

		<form accept-charset="UTF-8" action="/save" class="new_user" id="new_user" method="post" onsubmit=func(<%= question.id %>)>

		<li>
			<h3><%=question.desc%></h3>
			<% if question.category == "mcq_s"%>
			<div class="radio">
				A.<input id="user_name" name="response[<%=i%>][response]" type="radio" value="<%=question.a%>"/>
				<label for="Response_response"><%=question.a%></label>
			</div>
			<div class="radio">
				B.<input id="user_name" name="response[<%=i%>][response]" type="radio" value="<%=question.b%>" />
				<label for="Response_response"><%=question.b%></label>
			</div>
			<div class="radio">
				C.<input id="user_name" name="response[<%=i%>][response]" type="radio" value="<%=question.c%>"/>
				<label for="Response_response"><%=question.c%></label>
			</div>
			<div class="radio">
				D.<input id="user_name" name="response[<%=i%>][response]" type="radio" value="<%=question.d%>"/>
				<label for="Response_response"><%=question.d%></label>
			</div>

			
			<input type="hidden" name="response[<%=i%>][user]" value="<%= current_user.id %>" />
			<input type="hidden" name="response[<%=i%>][id]" value="<%= question.id %>" />
			<input type="hidden" name="response[<%=i%>][category]" value="mcq_s" />
			<%=  hidden_field_tag 'quiz_id' , @quiz.id %>

			<%i+=1%>
			<%end%>


			<% if question.category == "mcq_m"%>
			<div class="radio">
				A.<label for="Response_response"><%=question.a%></label>
				<input id="user_name" name="response[<%=i%>][response1]" type="checkbox" value="<%=question.a%>"/>
			</div>
			<div class="radio">
				B.<label for="Response_response"><%=question.b%></label>
				<input id="user_name" name="response[<%=i%>][response2]" type="checkbox" value="<%=question.b%>" />
			</div>
			<div class="radio">
				C.<label for="Response_response"><%=question.c%></label>
				<input id="user_name" name="response[<%=i%>][response3]" type="checkbox" value="<%=question.c%>"/>
			</div>
			<div class="radio">
				D.<label for="Response_response"><%=question.d%></label>
				<input id="user_name" name="response[<%=i%>][response4]" type="checkbox" value="<%=question.d%>"/>	
			</div>

			
			<input type="hidden" name="response[<%=i%>][user]" value="<%= current_user.id %>" />
			<input type="hidden" name="response[<%=i%>][id]" value="<%= question.id %>" />
			<input type="hidden" name="response[<%=i%>][category]" value="mcq_m" />
			<%=  hidden_field_tag 'quiz_id' , @quiz.id %>
			<%i+=1%>
			<%end%>


		</li>
		<% idi = "r" + question.id.to_s %>
		<% quesid = question.id %>
		<% if(State.find_by(user_id:session[:user_id],quiz_set_id:@quiz.id)) %>

			<% if @gh.include?(question.id.to_s) == true %>
				<input class="btn btn-primary" name="commit" type="submit" value="Submit the answer for the question!" id = <%=idi %> disabled >

			<% else %>

				<input class="btn btn-primary" name="commit" type="submit" value="Submit the answer for the question!" id = <%=idi %> >
			<% end %>

		<% else %>

			<input class="btn btn-primary" name="commit" type="submit" value="Submit the answer for the question!" id = <%=idi %> >
	<% end %>

	</form>
	<script type="text/javascript">
		var func = function(y)
		{ 
			x = "r" + y.toString() 
			console.log(x)
			p = document.getElementById(x)
			console.log(p)
			p.disabled = true
		}
	</script>
		<% end %>
	</ul>



